.nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;

    & .first-nav {
        display: flex;
        box-sizing: border-box;
        height: 36px;
        min-width: 452px;
        margin-left: 20px;
    }
}