.VideoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .VideoCard {
        display: flex;
        flex-direction: column;
        width: 335px;
        overflow: hidden;

        & .videoThumbnailWrapper {
            position: relative;
            width: 320px;
            height: 180px;
            overflow: hidden;
            margin: 10px;
        }

        & .videoTitle {
            display: -webkit-box;
            margin: 4px;
            height: 45px;
            font-size: 16px;
            -webkit-line-clamp: 2;
            /* 限制为2行 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            cursor: pointer;
            transition: color 0.1s linear;

            &:hover {
                color: rgb(88, 120, 222);
            }
        }

        & .videoAuthor {
            position: relative;
            font-size: 14px;
            margin: 4px;
            cursor: pointer;
            /* 保持单行 */

            & .name {
                display: inline-block;
                position: relative;
                color: rgb(131, 122, 122);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 21ch;
                margin-right: 20px;
                transition: color 0.1s linear;
            }

            & .timeAt {
                position: relative;
                color: rgb(131, 122, 122);
                transition: color 0.1s linear;
            }

            &:hover {
                & .name {
                    color: rgb(0, 182, 241);
                }

                & .timeAt {
                    color: rgb(0, 182, 241);
                }
            }
        }
    }
}