.Video-List {
    display: flex;
    position: relative;
    width: inherit;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: start;

    & .VideoCard {
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-left: 38px;
        margin-bottom: 12px;
        overflow: hidden;

        & .videoThumbnailWrapper {
            position: relative;
            width: 280px;
            height: 160px;
            border-radius: 4px;
            overflow: hidden;

            & .showCount {
                display: inline-block;
                position: absolute;
                min-width: 42px;
                padding: 4px;
                left: 0;
                bottom: 0;
                color: #fff;
                border-top-right-radius: 2px;
                background-color: rgba(50, 50, 50, 0.4);
                font-size: 14px;

                & .icon {
                    display: inline-block;
                    position: relative;
                    margin-right: 6px;
                    left: 2px;
                    top: 2px;
                    height: 14px;
                    width: 14px;
                    background-image: url(/img/video-16.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 14px;
                }
            }

            & .duration {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 42px;
                padding: 4px;
                font-size: 14px;
                color: #fff;
                border-top-left-radius: 7px;
                background-color: rgba(50, 50, 50, 0.4);
            }


        }

        & .videoTitle {
            display: -webkit-box;
            height: 44px;
            font-size: 15px;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            /* 限制为2行 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            cursor: pointer;
            transition: color 0.1s linear;
            margin: 4px 0 2px 0;

            &:hover {
                color: rgb(88, 120, 222);
            }
        }

        & .videoAuthor {
            position: relative;
            width: inherit;

            & .name {
                display: inline-block;
                position: relative;
                color: rgb(131, 122, 122);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 21ch;
                transition: color 0.1s linear;
                margin-right: 20px;
            }

            & .timeAt {
                display: inline-block;
                position: absolute;
                right: 2px;
                color: rgb(131, 122, 122);
                transition: color 0.1s linear;
            }

            &:hover {
                & .name {
                    color: rgb(0, 182, 241);
                }

                & .timeAt {
                    color: rgb(0, 182, 241);
                }
            }
        }
    }
}