.modal-close-btn {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;
    height: 32px;
    width: 32px;
    background-image: url('/img/close.png');
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-color: rgb(241, 242, 242);
    }
}