.space-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100%;
    width: 98%;
    margin: 0 auto;

    & .space-option,
    & .space-option-active {
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
        margin: 0 20px;
        letter-spacing: 4px;
        padding: 0 10px;
        font-size: 16px;
    }

    & .space-option {
        color: rgb(60, 60, 60);

        &:hover {
            color: rgb(149, 96, 199);
        }
    }

    & .space-option-active {
        color: rgb(149, 96, 199);
        border-bottom: 3px solid rgb(149, 96, 199);
        border-radius: 2px;
        pointer-events: none;
    }

    & .followBtn {
        display: flex;
        flex-direction: row;
        gap: 16px;
        font-size: 14px;
        position: absolute;
        right: 5vw;

        & .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 4px;
            cursor: pointer;

            & .name{
                color: rgb(104,109,116);
            }

            & .count{
                color: rgb(24,25,28);
            }

            &:hover {
                & div {
                    color: rgb(0, 174, 236);
                }
            }
        }
    }
}