.user-section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & a {
        font-size: 14px;
        color: #fff;
        text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
        white-space: nowrap;
        margin: 0 12px;
    }

    & .show {
        transition: opacity 0.1s linear;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 40px;
        pointer-events: none;
        z-index: -1;
    }

    & .no-avator-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        padding-bottom: 15px;
    }

    & .user-avator-box {

        & .no-avator,
        .user-avator {
            display: flex;
            position: relative;
            transform: translateX(-100%);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 40px;
            width: 40px;
            text-align: center;
            clip-path: circle(50%);
        }

        & .no-avator {
            background-color: rgb(28, 111, 219);
            color: white;
            font-size: 14px;
        }

        & .user-avator {
            transform-origin: right top;
            transition: transform 0.2s linear;
        }

        & .show {
            transform: translateX(-50%);

            & .avator-card-container {
                display: flex;
                align-items: center;
                width: 280px;
                background-color: rgb(250, 250, 250);
                border-radius: 8px;
                padding-bottom: 20px;

                & .avator-card-flex {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    & .avator-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        margin-top: 6px;
                        height: 42px;
                        width: 90%;
                        border-radius: 6px;
                        background-color: rgb(239, 239, 239);
                        color: rgb(65, 65, 65);
                        font-size: 16px;

                        &:first-child {
                            background-color: transparent;
                            pointer-events: none;
                            cursor: pointer;
                        }

                        &:last-child {
                            margin-top: 30px;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 75px;
                                height: 1px;
                                width: 90%;
                                background-color: rgba(232, 225, 236, 0.8);
                            }
                        }

                        &:hover {
                            background-color: rgb(220, 220, 220);
                        }
                    }
                }
            }
        }

        &:hover {
            & .user-avator {
                transform: scale(2);
            }

            & .show {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                z-index: 0;
            }

            &::before {
                content: '';
                position: absolute;
                height: 80px;
                width: 90px;
                top: -10px;
                transform: translateX(-50%);
                z-index: 0;
            }
        }
    }

    & .nav-option {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 40px;

        & .show {
            transform: translateX(0);

            & .msg-option-container {
                display: flex;
                align-items: center;
                width: 150px;
                background-color: rgb(250, 250, 250);
                border-radius: 8px;
                padding-bottom: 10px;

                & .msg-option-flex {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    & .msg-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        color: rgb(68, 64, 64);
                        font-size: 14px;
                        letter-spacing: 2px;
                        margin: 0 3px;
                        height: 45px;

                        &:first-child{
                            margin-top: 10px;
                        }
                        &:hover {
                            background-color: rgb(222, 222, 222);
                        }
                    }
                }
            }

            & .dynamics-option-container{
                display: flex;
                align-items: center;
                width: 400px;
                background-color: rgb(250, 250, 250);
                border-radius: 8px;
                padding: 20px 0;
            }
            
            & .collections-option-container{
                display: flex;
                align-items: center;
                width: 400px;
                background-color: rgb(250, 250, 250);
                border-radius: 8px;
                padding: 20px 0;
            }

            & .history-option-container{
                display: flex;
                align-items: center;
                right: 0;
                width: 400px;
                background-color: rgb(250, 250, 250);
                border-radius: 8px;
                padding: 20px 0;
            }

        }

        &:hover {
            & .show {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                z-index: 0;
            }
        }
    }
}