.comment-box {
    position: relative;
    width: 96%;

    & .h2 {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 20px;
    }

    & .comments-domain {
        display: grid;
        grid-template-columns: 80px minmax(0, 1fr);
        position: relative;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(212, 212, 212);

        & .comment-one {
            position: relative;
            grid-column: 1;
            width: 100%;
        }

        & .comment-two {
            display: block;
            position: relative;
            grid-column: 2;
            width: 100%;

            & .editor-comment {
                display: block;
                position: relative;
                text-wrap: wrap;
                padding: 12px;
                border-radius: 6px;
                max-width: 100%;
                max-width: 100%;
                min-height: 56px;
                max-height: 120px;
                font-size: 18px;
                overflow: auto;
                background-color: rgb(231, 231, 231);
                transition: background-color 200ms linear;

                &:focus,
                &:hover {
                    outline: 1px solid rgb(201, 204, 208);
                    background-color: white;
                }

                &:empty::before {
                    content: attr(data-placeholder);
                    color: #6d6d6d;
                    pointer-events: none;
                }
            }

            & .publish-btn {
                display: block;
                position: relative;
                height: 56px;
                width: 100%;

                & .btn {
                    position: absolute;
                    cursor: pointer;
                    height: 36px;
                    right: 0;
                    top: 20px;
                    padding: 0 20px;
                    background-color: rgb(127, 214, 245);
                    border-radius: 8px;
                    font-size: 16px;
                    letter-spacing: 2px;
                    color: white;

                    &:hover {
                        background-color: rgb(0, 174, 236);
                    }
                }

                &:hover {
                    display: block;
                }
            }

            & .name,
            & .content,
            & .additional {
                margin-bottom: 10px;
            }

            & .name {
                font-size: 14px;
                color: rgb(251, 114, 179);
            }

            & .content {
                position: relative;
                font-size: 16px;
                color: rgb(0, 0, 0);
            }

            & .additional {
                font-size: 14px;
                color: rgb(148, 153, 160);
                position: relative;

                & .reply {
                    cursor: pointer;
                    position: relative;
                    color: rgb(148, 153, 160);
                    margin-left: 20px;
                    background-color: inherit;
                }

                & .option {
                    background-color: inherit;
                    display: block;
                    font-size: 20px;
                    writing-mode: vertical-rl;
                    cursor: pointer;
                    color: rgb(148, 153, 160);
                    position: absolute;
                    right: 0;
                    top: -8px;

                    opacity: 0;
                    z-index: -1;
                    transition: opacity 160ms linear;
                }

                & .option.show {
                    opacity: 1;
                    z-index: 0;
                }
            }

            & .comments-second-domain {
                display: grid;
                grid-template-columns: 50px minmax(0, 1fr);
                position: relative;
                width: 100%;
                padding-top: 4px;
                padding-bottom: 8px;

                & .comment-second-one {
                    position: relative;
                    grid-column: 1;
                    width: 100%;
                }

                & .comment-second-two {
                    display: block;
                    position: relative;
                    width: 100%;
                    grid-column: 2;

                    & .second-speak {
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        width: 100%;

                        & .name {
                            font-size: 15px;

                            & .link {
                                cursor: pointer;
                                font-size: inherit;
                                color: inherit;

                                &:hover {
                                    color: rgb(0, 170, 230);
                                }
                            }
                        }

                        & .content {
                            font-size: 15px;
                            margin-bottom: 0px;
                            margin-left: 6px;
                        }

                        & .option.show {
                            display: block;
                        }
                    }
                }
            }
        }

        & .self-reply {
            display: grid;
            grid-template-columns: 80px minmax(0, 1fr);
            position: relative;
            margin-top: 20px;
            width: 100%;
        }
    }

    & .pagination {
        display: flex;
        align-items: center;
        font-size: inherit;
        color: rgb(148, 153, 160);

        & button {
            font-size: inherit;
            margin: 0 10px;
            padding: 5px 10px;
            border: 0;
            background-color: transparent;
            color: inherit;
            cursor: pointer;

            &:disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }


}

.more-symbol-button-options {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 6px;
    padding: 10px 0;
    width: 140px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(244, 245, 245);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.05);

    & .btn {
        width: 100%;
        font-size: 14px;
        padding: 6px 12px;
        cursor: pointer;
        background-color: inherit;
        color: rgb(36, 38, 41);

        &:hover {
            background-color: rgb(244, 245, 245);
        }
    }
}

.report-comment {
    display: block;
    position: relative;
    min-height: 160px;
    width: 480px;
    background-color: #fff;
    padding: 30px 24px;
    border-radius: 10px;

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        font-weight: 500;
    }

    & fieldset {
        outline: none;
        border: 0;
        margin-top: 16px;

        & legend {
            color: rgb(97, 102, 109);
            margin-top: 5px;
            margin-left: 3px;
            margin-bottom: 7px;
        }

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                margin: 6px;

                & label {
                    font-size: 14px;
                    cursor: pointer;

                    & span {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid rgb(214, 226, 231);
                        border-radius: 4px;
                        position: relative;
                        margin-right: 8px;
                        cursor: pointer;
                        top: 3px;
                    }

                    & input[type="checkbox"] {
                        display: none;

                        &:checked+span {
                            border: 1px solid transparent;

                            &::before {
                                content: "";
                                font-size: 14px;
                                background-color: rgb(0, 174, 236);
                                background-image: url('/img/white-check .png');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 10px;
                                color: #fff;
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                top: -1px;
                                left: -1px;
                                text-align: center;
                                line-height: 15px;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    & .detail {
        display: block;
        position: relative;
        width: 400px;
        margin-top: 50px;

        & textarea {
            height: 100px;
            width: 100%;
            background-color: white;
            padding: 10px 20px;
            font-size: 15px;
            resize: none;
            border: 1px solid rgb(220, 223, 230);
            border-radius: 4px;
            outline: 0;
            transition: border-color 0.2s ease;

            &:hover {
                border-color: rgb(192, 196, 204);
            }

            &:focus {
                border-color: rgb(64, 158, 255);
            }
        }
    }

    & .btns {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 32px;
        height: 56px;
        width: 100%;

        & .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            margin: auto 14px;
            height: 36px;
            padding: 12px 74px;
            border-radius: 6px;
            cursor: pointer;
            transition: color 0.2s linear;
        }

        & .cancel {
            background-color: #fff;
            border: 1px solid rgb(227, 229, 231);

            &:hover {
                background-color: rgb(227, 229, 231)
            }
        }

        & .confirm {
            color: #fff;
            background-color: rgb(0, 174, 236);

            &:hover {
                background-color: rgb(64, 197, 241);
            }
        }
    }
}