.space-avatar {
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    bottom: 20px;
    left: 20px;
    clip-path: circle(50%);

    & .hide {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &:hover {
        & .hide {
            display: flex;
        }
    }
}

.space-name {
    display: block;
    position: absolute;
    bottom: 58px;
    left: 113px;
    font-size: 21px;
    font-weight: 1000;
    color: white;
}

.space-bio {
    display: block;
    position: absolute;
    bottom: 26px;
    left: 113px;
    font-size: 16px;
    color: rgb(244, 244, 244);
}

.space-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 90px;
    position: absolute;
    right: 150px;
    bottom: 15px;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    border: 2.5px solid white;
    background-color: rgb(242, 93, 142);
    cursor: pointer;

    &:hover{
        background-color: rgb(255, 133, 173);
    }
}